<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource"
		destroy-method="close">
		<property name="alias" value="ProxoolPool" />
		<property name="driver" value="com.mysql.jdbc.Driver" />
		<property name="driverUrl"
			value="jdbc:mysql://localhost:3306/test?characterEncoding=utf-8" />
		<property name="user" value="root" />
		<property name="password" value="admin" />
		<property name="maximumConnectionCount" value="30" />
		<property name="minimumConnectionCount" value="10" />
		<property name="maximumActiveTime" value="60000" />
		<property name="prototypeCount" value="8" />
		<property name="trace" value="true" />
		<property name="verbose" value="true" />
	</bean>

	<!-- 配置JMS连接工厂 -->
	<bean id="connectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://localhost:61616" />
	</bean>

	<!-- 配置JMS模版 -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestination" ref="queueDestination"></property>
		<property name="receiveTimeout" value="60000"></property>
	</bean>

	<!-- 发送消息的目的地（队列） -->
	<bean id="queueDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<!-- 设置消息队列的名字 -->
		<constructor-arg index="0" value="HelloWorldQueue" />
	</bean>
	<!-- 发送消息的目的地（主题） -->
	<bean id="topicDestination" class="org.apache.activemq.command.ActiveMQTopic">
		<!-- 设置消息主题的名字 -->
		<constructor-arg index="0" value="FlexTopic" />
	</bean>
	

	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation"
			value="classpath:config/map/config/sql-map-config.xml" />
	</bean>

	<!--
		<bean id="sqlMapClientTemplate"
		class="org.springframework.orm.ibatis.SqlMapClientTemplate"> <property
		name="sqlMapClient" ref="sqlMapClient"></property> </bean>
	-->
	<import resource="spring-map.xml" />
</beans> 